Resource_1 RCDATA "Themes\\Aqua.theme.xml"
Resource_2 RCDATA "Themes\\artofnet-darkonblue.theme.xml"
Resource_3 RCDATA "Themes\\artofnet-lime-chocolate.theme.xml"
Resource_4 RCDATA "Themes\\bespin.theme.xml"
Resource_5 RCDATA "Themes\\Black and White.theme.xml"
Resource_6 RCDATA "Themes\\Blackboard.theme.xml"
Resource_7 RCDATA "Themes\\Brown.theme.xml"
Resource_8 RCDATA "Themes\\ChocoCaramel.theme.xml"
Resource_9 RCDATA "Themes\\cobalt.theme.xml"
Resource_10 RCDATA "Themes\\coda.theme.xml"
Resource_11 RCDATA "Themes\\code-anxiety.theme.xml"
Resource_12 RCDATA "Themes\\coding-horror.theme.xml"
Resource_13 RCDATA "Themes\\coffee-.theme.xml"
Resource_14 RCDATA "Themes\\dark-code-mute-font-beige.theme.xml"
Resource_15 RCDATA "Themes\\deep-blue.theme.xml"
Resource_16 RCDATA "Themes\\desertex-revised.theme.xml"
Resource_17 RCDATA "Themes\\distant-stormy-shore.theme.xml"
Resource_18 RCDATA "Themes\\enhanced-pascal-classical-.theme.xml"
Resource_19 RCDATA "Themes\\frontenddev.theme.xml"
Resource_20 RCDATA "Themes\\Gedit Original.theme.xml"
Resource_21 RCDATA "Themes\\Green.theme.xml"
Resource_22 RCDATA "Themes\\greendream.theme.xml"
Resource_23 RCDATA "Themes\\hugoware.theme.xml"
Resource_24 RCDATA "Themes\\humane-studio.theme.xml"
Resource_25 RCDATA "Themes\\Igor.theme.xml"
Resource_26 RCDATA "Themes\\Inkpot.theme.xml"
Resource_27 RCDATA "Themes\\jon-erickson-s-ragnarok-grey.theme.xml"
Resource_28 RCDATA "Themes\\like.theme.xml"
Resource_29 RCDATA "Themes\\monokai.theme.xml"
Resource_30 RCDATA "Themes\\Mr.theme.xml"
Resource_31 RCDATA "Themes\\mustang.theme.xml"
Resource_32 RCDATA "Themes\\nightfall.theme.xml"
Resource_33 RCDATA "Themes\\NightLion Aptan.theme.xml"
Resource_34 RCDATA "Themes\\Oblivion.theme.xml"
Resource_35 RCDATA "Themes\\Obsidian.theme.xml"
Resource_36 RCDATA "Themes\\ocean.theme.xml"
Resource_37 RCDATA "Themes\\paulstovell-com.theme.xml"
Resource_38 RCDATA "Themes\\pretty.theme.xml"
Resource_39 RCDATA "Themes\\Purple.theme.xml"
Resource_40 RCDATA "Themes\\ragnarok-blue.theme.xml"
Resource_41 RCDATA "Themes\\RecognEyes.theme.xml"
Resource_42 RCDATA "Themes\\Red.theme.xml"
Resource_43 RCDATA "Themes\\russian-noth.theme.xml"
Resource_44 RCDATA "Themes\\selenitic.theme.xml"
Resource_45 RCDATA "Themes\\slimcode.theme.xml"
Resource_46 RCDATA "Themes\\son-of-obsidian.theme.xml"
Resource_47 RCDATA "Themes\\the-dark-side-of-visual-studio.theme.xml"
Resource_48 RCDATA "Themes\\the-default-at-boxbinary-ltd.theme.xml"
Resource_49 RCDATA "Themes\\tial-entry-enhanced.theme.xml"
Resource_50 RCDATA "Themes\\turbo-pascal-revisited.theme.xml"
Resource_51 RCDATA "Themes\\Vibrant Ink.theme.xml"
Resource_52 RCDATA "Themes\\wekeroad-ink.theme.xml"
Resource_53 RCDATA "Themes\\Zenburn.theme.xml"
Resource_54 RCDATA "Themes\\zenburn-2010.theme.xml"
Resource_0 RCDATA "Themes\\List.txt"
